
<div class="title-container">
  <h1 id="main-title">Stock Tracker</h1>
</div>

<div id="search">
  <form>
    <fieldset>
      <legend>Search for a Stock</legend>
      <label>
        Ticker
        <input type="text" name="ticker" />
      </label>
      <button>Submit</button>
    </fieldset>
  </form>
</div>

<div id="container"></div>

<div id="my-list">
  <% if current_user %>
    <h2><%= current_user.email %></h2>
  <% end %>
  <h3>My Stocks</h3>
  <ul class="stock-list" id="stock-list"></ul>
</div>



