
<div class="title-container">
  <h1 id="main-title">Stock Tracker</h1>
</div>

<div id="search">
  <form>
    <fieldset>
      <legend>Search for a Stock</legend>
      <label>
        Ticker
        <input type="text" name="ticker" />
      </label>
      <button>Submit</button>
    </fieldset>
  </form>
</div>

<div id="container"></div>

<div id="my-list">
  <% if current_user %>
    <p id="stock-list-heading">Stocks of <br><%= current_user.email %></b></p>
    <input type="hidden" id="user-id" value="<%= current_user.id %>"></input>
    <ul class="stock-list" id="stock-list"></ul>
  <% end %>
</div>



