<h1>Stocks</h1>

<form>
  <fieldset>
    <legend>Search for a Stock</legend>
    <label>
      Ticker
      <input type="text" name="ticker" />
    </label>
    <label>
      Company
      <input type="text" name="company" />
    </label>
    <button>Submit</button>
  </fieldset>
</form>
