path {
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


body {
  background-attachment: fixed;
  background-image: image-url('buildings.png');
  background-position: left top;
  background-repeat: no-repeat;
}

h1#main-title {
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
  margin: 10px 0;
  background: -webkit-linear-gradient(black, navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  border-radius: 20px;
  margin: 2% 10%;
  padding: 1% 2%;
}

#my-list {
  float: right;
  margin: 0;
  position: relative;
  top: -50px;

  z-index: 100;
}

fieldset {
  border-radius: 5px;
  background-color: rgba(255,255,255,.75);
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24px;
  margin: 0 10%;
  text-align: center;
}
  fieldset input {
    font-size: 22px;
    height: 28px;
    margin-bottom: 5px;
  }

  button {

  }

li {
  display: inline-block;
  padding: 10px;
}

.header a {
  color: #FFFFCC;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover {
  color: #FFCC66;
  text-decoration: underline;
}

svg {
  margin-bottom: 100px;
}

p {
  font-size: 20px;
}

button {
  border-radius: 5px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 22px;
}

img {
  height: 150px;
}

.home-page {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}

  .home-page img {
    margin: 25px;
  }

.home-view {
  text-align: center;
}

.title-container {
  text-align: center;
}

.header {
  background-color: #000;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

.pull-right {
  margin: 0;
}

.login-link {
  color: navy;
}


#add {
  display: inline;
  font-size: 16px;
  margin-right: 10px;
}

#delete {
  display: inline;
  font-size: 16px;
}

#ticker-name {
  color: maroon;
  display: inline-block;
  margin-right: 10px;
}

#stock-list-heading {
  font-weight: bold;
  text-align: center;
}
