path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


body {
  background: url('/assets/target.png')) no-repeat left top;
}

h1#main-title {
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
  margin: 10px 0;
  background: -webkit-linear-gradient(black, navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  padding: 0 10%;
}

#my-list {

}

fieldset {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24px;
  text-align: center;
}
  fieldset input {
    font-size: 22px;
    height: 28px;
    margin-bottom: 5px;
  }

  button {

  }

li {
  display: inline-block;
  padding: 5px;
}

a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg {
  margin-bottom: 100px;
}

p {
  font-size: 20px;
}

button {
  border-radius: 5px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 22px;
}

img {
  height: 150px;
}
